.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #F0F0F4;
    padding: 10px;
    color: black;
}
@media only screen and (max-width: 600px) {
    .box {
        background-color: red;
        font-size: 12px;
        display: none;
    }
  }